<!DOCTYPE html>
<html>
 <head>
   <title>Caffeine Coordinator</title>
   <link rel="stylesheet" type="text/css" href="../main.css">
 </head>
 <body>
     <header>
<div class="one-third">
    <p id="top-buffer">Buffer text</p>
</div>         

<div class="one-third">
<h1>Caffeine Coordinator</h1>
<h3>Where is everyone starting their morning?</h3>

<form action ='/' method='post'>
    <input type ="text" name="searchTerm">
    <input type="submit" value="Search">
    
</form>
</div>
<div class="one-third">
<% if (userID === undefined){ %>
<ul>
<li>
    <div class="github-wrapper"><a href="/auth/github"><img src="github_light.png"><h3>Log in with Gitub</h3></a>
</li>
</div>
</ul>

<% } else { %>
<div class="github-wrapper">
<h3>Welcome <%= userID %></h3>
<a href="/logout"><h5>Logout</h5></a>
<% } %>
</div>
</div>
    </header>
    
    <div id="banner">
        <article id="img-wrapper">
        <img src="../coffee_time.jpg">
        </article>
    </div>

    <% if(searchTerm != undefined){ %>
<div>
    <article id="searchTerm-display"> <%= searchTerm %> <%=itemsArr[i].loc %> </div>
</div>
    <% } %>
    <section id="main">

    <% for (var i = 0; i < itemsArr.length; i++) { %>
        <div class="inner-wrapper">
        <article>
            <img class="thumbnail" src="<%= itemsArr[i].img %>" >
        </article>
        
        <aside>
            <h4 class=bus_info> <a href="https://www.yelp.com/biz/<%=itemsArr[i].id%>"> <%= itemsArr[i].name %></h4></a>
        
        <% if (userID === undefined){ %>
        <p class="going"><%= itemsArr[i].going %> GOING </p>
        
        <% } else { %>
            <form action = '/' method='post'>
            <input type="hidden" name="going" value= <%= itemsArr[i].id %> />    
            <input type="submit" value=<%= itemsArr[i].going %> /> Going
            <% if(itemsArr[i].userFound === true){ %>
            <% console.log(itemsArr[i].userFound) %>
            <span> (you are attending)</span>
                <% } %>
                
            </form>    
        <% } %>
        <p><%= itemsArr[i].desc %></p></div>        
    <% } %>
    </aside>
    </div>
</section>
</body>
</html>